<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>BookOS</vendor>
  <action id="com.bookos.menu.serial">
    <description>Read the machine serial number</description>
    <description xml:lang="es">Leer el número de serie del equipo</description>
    <message>Authentication is required to read the machine serial number</message>
    <message xml:lang="es">Se requiere autenticación para leer el número de serie</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/bookos-serial</annotate>
  </action>
</policyconfig>
